.weather{
  display: flex;
  justify-content: space-around;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #e6f2ff;
  padding-left: 15px;
  font-size: 1.25em;
  color: black;
}




.page-header{
  display: flex;
  justify-content: center;
  background-color: #007eff;
  color: #bfdfff;
  font-size: 1.4em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 60px 0;
}

.header-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  padding: 0 30px;

}

.main{
  display: flex;
  padding-top: 70px;
  background-color: #fafafa;
}

.mountain-selector{
  padding-left: 15px;
}


h1 {
  color: white;
}

p {
  font-size: 1.2em;
      margin: 0;
}

a{
  color: #007eff;
}

.sub-header {
  font-size: 1.125em;
  line-height: 28px;
  background-color: #e6f2ff;
  padding: 30px 0;
}

.sub-header-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  padding: 0 30px;
  font-size: 1.125em;
}

.page-subheader-link {
  border-bottom: 1px solid rgba(0, 126, 255, 0.3);
  outline: none;
  text-decoration: none;
}



.checkbox  {
  display:flex;
  justify-content: flex-start;
  padding-top: 3px;
  padding-right: 5px;
  padding-left: 15px;
}

.check-box-central {
  display:flex;
  justify-content: flex-start;
  padding-top: 3px;
  padding-right: 5px;
  padding-left: 15px;
}

.checkbox-and-menu{
  display: flex;
  flex-direction: column;
}

.map-container{
  height:500px;
  width:500px;
}

.map-container-central{

  padding-top: 948px;
}

.page-footer {
  
  color: #999;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.footer-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  padding: 0 30px;
}
